.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card {
    width: 420px;
    padding: 40px;
    border-radius: 14px;
    background: white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.icon {
    font-size: 70px;
    margin-bottom: 10px;
}

.success {
    color: #27ae60;
}

.msg {
    color: #777;
    margin-top: 8px;
}

.info {
    margin-top: 20px;
    text-align: left;
    font-size: 15px;
}

button {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    opacity: .85;
}