.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.card {
    width: 420px;
    padding: 40px;
    border-radius: 14px;
    background: white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.icon {
    font-size: 70px;
}

.cancel {
    color: #e74c3c;
}

button {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}